<div class="descriptions container">

    <div class="other-colors">
        <div>
            <button>
                <img class="plus-image" src="img/acero2.png">
            </button>
        </div>

        <div>
            <button>
                <img class="plus-image" src="img/acero3.png">
            </button>
        </div>

        <div>
            <button>
                <img class="plus-image" src="img/acero4.png">
            </button>
        </div>

        <div>
            <button>
                <img class="plus-image" src="img/acero5.png">
            </button>
        </div>
    </div>
    
    <div class="data">
        <div class="form-name">DOUBLE FLARED TUBE</div>
    
        <div class="form-price">3.29€</div>
    
        <div class="form-text-plug">In stock with diameters from 8 mm up to 24 mm. A super 
            stylish product at an unbeatable price, straight from your 
            Factory.
        </div>
    </div>
    
    <div class="form-button-buy">
        <div>
            <button>Add to watchlist</button>
        </div>
    
        <div>
            <button>Buy</button>
        </div>
    </div>

</div>
