<section class="plug-list ideal container">

    <div class="ui-status ideal">
        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/acero1.png">
            <div class="name">DOUBLE FLARED TUBE</div>
            <div class="price">3.29€</div>
        </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/aceroo1.png">
            <div class="name">THREADED FLESH TUNNEL</div>
            <div class="price">4.49€</div>
        </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/acrilica2.png">
            <div class="name">DOUBLE FLARED TUNNEL</div>
            <div class="price">2.69€</div>
            </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/acrilico1.png">
            <div class="name">PLUG</div>
            <div class="price">4.58€</div>
        </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/roca1.png">
            <div class="name">SINGLE FLARED PLUG</div>
            <div class="price">2.58€</div>
        </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/silicona1.png">
            <div class="name">GLOW-IN-THE-DARK DOUBLE FLARED TUNNEL</div>
            <div class="price">0.99€</div>
        </article>
    </a>

        <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/wood1.png">
            <div class="name">RIBBED PLUG</div>
            <div class="price">4.49€</div>
        </article>
    </a>

    <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/cristal1.png">
            <div class="name">DOUBLE FLARED PLUG</div>
            <div class="price">4.38€</div>
        </article>
    </a>

    <a href="detail.html">
        <article class="plug">
            <img class="image" src="img/acrilicaa1.png">
            <div class="name">TUNNEL WITH MOSAIC DESIGN</div>
            <div class="price">4.59€</div>
        </article>
    </a>

    <a href="detail.html">
        <article class="plug">
            <img id="img-animated" class="image" src="img/titanio1.png">
            <div class="name">JEWELED ROUND TUNNEL</div>
            <div class="price">9.24€</div>
        </article>
    </a>
    </div>

 
</section>